body {
    margin: 20px;
    background: linear-gradient(to bottom left, lightsteelblue, white);
    height: 1000px;
    width: 100%;
}
.note {
    font-family: 'Cursive', cursive;
}
.valid {
    color: red;
}
.hide {
    display: none;
}

.text {
    display: inline-block;
    width: 200px;
    padding: 6px 0;
    color: #464646;
}
input:focus:required:invalid {
    border: 2px solid red;
}
input:focus:required:valid {
    border: 2px solid green;
}
input:focus {
    outline: none;
}
input:required:valid {
    border: 2px solid greenyellow;
}