.main {
    width: 40%;
}

.img {
    float: left;
    padding-right: 20px;
}

.quote {
    width: 85%;
    float: right;
    border: 1px solid black;
    font-family: Georgia;
    font-style: italic;
    padding: 0px 5px 0px 5px;
}